<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>813670388480-gt4i4k8hgb310a6e4bp3d16t15i2uj24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813670388480-gt4i4k8hgb310a6e4bp3d16t15i2uj24</string>
	<key>API_KEY</key>
	<string>AIzaSyBr8ZLhPQKWxzgVlQOgqzyTTHxCOSYvD0o</string>
	<key>GCM_SENDER_ID</key>
	<string>813670388480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MazaTest.YouTubeTopTen</string>
	<key>PROJECT_ID</key>
	<string>yt-top10-test</string>
	<key>STORAGE_BUCKET</key>
	<string>yt-top10-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813670388480:ios:cf4a16cfd695ce4b</string>
	<key>DATABASE_URL</key>
	<string>https://yt-top10-test.firebaseio.com</string>
</dict>
</plist>